html,
body {
  font-family: 'Karla', sans-serif;
  background-color: white;
  color: black;
}

.page-container {
  width: 80%;
  padding-top: 100px;
  margin-top: 5rem;
  margin: auto;
}

.nav {
  width: 80%;
  margin: auto;
  font-size: large;
}

.navbar-brand {
  margin-right: 0rem;
}

ul.nav {
  margin: 0;
}

.navbar {
  justify-content: center;
}

.hcde438-picture {
  width: 50%;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.about {
  padding: 50px;
}

.picture {
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: center;
}